[2014-03-11 17:59] adriaanm opened #1 "bridges between scala.concurrent.Future and CompletableFuture"

[2014-03-11 18:00] adriaanm opened #2 "Eclipse (JDT8 beta) compat"

[2014-03-17 16:37] #2 closed, assigned to nobody

[2014-03-26 21:49] #1 closed, assigned to nobody

[2014-03-27 10:56] viktorklang opened #15 "Override mutating CompletableFuture methods to throw UOE"
In `private class CF[T] extends CompletableFuture[T] with (Try[T] => Unit) {` as an example.
So if a Java user downcasts to CompletableFuture, it won't go haywire.

[2015-02-15 15:47] jasongoodwin opened #26 "toJava call on future converter causes java.lang.NoClassDefFoundError: scala/concurrent/java8/FuturesConvertersImpl$CF,"
Hey,

on v0.2.0 published to maven,
I've produced a barebones sbt project with only the scala-java8-compat library.
You can recreate by running sbt test on this project:
https://github.com/jasongoodwin/future-converters-problem

There is a unit test that fails:

    @Test
    public void itShouldNotFail() {
        Future future = promise().future();
        final CompletionStage cs = toJava(futur

[2015-02-16 05:47] retronym commented on #26
Thanks for the report. Looks like the OSGi packaging in our build stripped those classes out of the final JAR. :cry:

I'll cut a new release as soon as the fix is reviewed and merged.

[2015-02-16 05:57] #26 closed

[2015-02-16 16:17] jasongoodwin commented on #26
That's for publishing this so fast.

[2015-02-21 10:17] jasongoodwin opened #29 "Can't use thenCompose with FutureConvertersImpl - doThenCompose calls toCompletableFuture"
Hey I found an issue with this.
The FutureConvertersImpl throws an exception when toCompletableFuture is called:

    override def toCompletableFuture(): CompletableFuture[T] ={
      throw new UnsupportedOperationException("this CompletionStage represents a read-only Scala Future")
    }

Which is fine. However, if you do something like this:

    @Test
    public void testToJavaThenComposeWithTo

[2015-02-21 11:37] retronym commented on #29
Hey @rkuhn or @bantonsson, could I ask one of you to a look at this?

[2015-02-21 22:51] jasongoodwin commented on #29
I believe the exception should be removed, and should return 'this' in the toCompletableFuture method but I don't understand all of the impacts. The implementation needs to work with thenCompose to be useful though. I'm writing a book at the moment (Learning Akka, Packt) - I'm trying to introduce this library as the mechanism for handling future's from Java8, which it otherwise seems to be a good

[2015-02-23 21:06] fehmicansaglam commented on #29
I am not sure if I am having the same problem. But maybe you can point me in the right direction.

I have a Scala API which returns `scala.concurrent.Future`.  Besides the Scala API I want to provide a Java API which returns `java.util.concurrent.CompletionStage`.  I have actually implemented the API using `scala-java8-compat`. But when I try to compose the returned `CompletionStage`s I get an exc

[2015-02-23 21:53] jasongoodwin commented on #29
Right - it throws the UnsupportedOperationException because the Java8 CompletableFuture implementation calls toCompletableFuture in it:

                    if (cs == null ||
                        (dst = cs.toCompletableFuture()) == null)
                        ex = new NullPointerException();

thenCompose should handle the CompletionStage but it won't as long as the exception is thrown. The sc

[2015-04-30 03:58] retronym opened #32 "Converters for java.util.function"
We could generate these reflectively. Here's a sketch:

[code]

Outputs:

[code]

[2015-06-02 20:02] jasongoodwin commented on #29
Any word on this? Can I make a PR to stop throwing the exception?

[2015-06-03 10:50] rkuhn commented on #29
Sorry for the delay, this flew under my radar. I have not fully penetrated the whole problem, but from what you write it seems that indeed returning `this` is reasonable. It is a shame that we cannot just remain within CompletionStage API, though.

[2015-06-04 22:09] steveash opened #41 "Make bridge interfaces implement serializable"
I'm trying to use this library to help with some Java8 code written on top of the Spark API.  I'm using a spark library that takes scala Function1s.  Unfortunately, I cannot use the scala-java8-compat library because the bridge interface does not extend Serializable and for a java8 lambda to be serializable the target type has to be serializable: http://docs.oracle.com/javase/tutorial/java/javaOO/

[2015-06-15 06:34] rkuhn commented on #29
Another possibility would be to override doThenCompose to not call toCompletableFuture: we don’t need to return this more specific type, in particular if our CompletionStage is not supposed to implement the CompletableFuture contract (which I think is the point).

[2015-06-15 06:48] jasongoodwin commented on #29
Oh ya - I don't know why I didn't think of that. The oracle code wasn't
exactly clear to me when I first read it but I don't think this would be
too difficult. I'll look at doing this through the week after hours. Thanks
Roland.
On Jun 15, 2015 2:34 AM, "Roland Kuhn" <notifications@github.com> wrote:

[2015-06-15 08:09] rkuhn commented on #29
Yeah, somehow I also needed two weeks to figure this out ;-) BTW: the reason behind the slightly unorthodox code layout is that Doug’s goal was to make individual methods overridable without affecting the others—for better or worse.

[2015-06-17 04:37] jasongoodwin commented on #29
Hey Roland,
I'm looking at a version of Java8 on a new laptop, trying to prove this will work - I'm running into a few hiccups.

1) The internal APIs have changed since I last looked - uniComposeStage is called instead of doThenCompose. This indicates that overriding some internal methods may not be the safest approach.

    public <U> CompletableFuture<U> thenCompose(
        Function<? super T,

[2015-06-23 04:05] jroper opened #43 "UnsupportedOpperationException in toJava(future).toCompletableFuture is unnecessarily hostile (was: "Testing")"
Most testing frameworks, in particular, the most popular Java Framework, junit, are synchronous, requiring that the test finish synchronously.  When testing code that returns a `CompletionStage`, the only way to test this from junit is to block on it.  And the idiomatic way, and simplest way, to do this is to call `toCompletableFuture().get()`.  Since `FutureConverters.toJava` doesn't implement `t

[2015-06-23 04:16] jroper opened #44 "Wrapping future"
I'm wondering why `FutureConverters.toJava` creates a new `CompletableFuture`, rather than simply wrapping the `Future` with an implementation of `CompletionStage` that delegates to `Future`?  Doing this would make conversion a little more efficient, and would mean conversions back and forth could be optimised so a conversion from a previously converted `CompletionStage` to `Future` would simply u

[2015-06-23 04:46] retronym commented on #44
/cc @rkuhn, who contributed this part of the library.

[2015-06-23 04:46] retronym commented on #43
/cc @rkuhn, who contributed this part of the library.

[2015-06-23 06:32] jroper commented on #43
I just encountered this then when writing tests, I had the following function:

[code]

And it worked for 6 tests.  I then wrote a seventh test, and was surprised when it failed - nothing about my code indicated that it should fail on the seventh, the tests themselves didn't touch the scala-java8-compat library, it was all internals of how everything happened to be implemented.

The simplest way t

[2015-06-23 06:49] retronym commented on #43
Maybe it is just because I am unfamiliar with the new Java 8 concurency tools, but I am having a hard time parsing this bug report. What is your proposed change? What was the source of non-determinism in the first formulation of `def await`?

[2015-06-23 07:21] rkuhn commented on #43
Well, we might not be able to change the world after all. I am not entirely certain but I think we prohibited `toCompletableFuture` precisely because it makes it easy to call `get` (which we don’t want). But of course that only makes sense once testing frameworks support asynchronous completion of test cases, like ScalaTest does. The easy route would be to just allow `toCompletableFuture` to succe

[2015-06-23 07:24] rkuhn commented on #44
The current approach was meant to be minimal, but we might have to bite the bullet. Writing a fully optimized version will be very painful, though.

[2015-06-23 09:16] viktorklang commented on #43
You rang?

I'm fine with `toCompletableFuture` returning a CompletableFuture that they can then use to block on.
I'm not fine with us encouraging them to do that.

Does that address the question?

[2015-06-23 09:18] viktorklang commented on #43
Oh, and for testing:

I think we ought to introduce specific test methods that -always- require a timeout and whose names state very clearly that this is not to be done outside of tests. Like:

[code]

[2015-06-23 12:24] jroper commented on #43
But - does it matter when testing, whether people block on futures or not? Writing asynchronous code is always a hit in complexity and readability, you do it out of necessity, not because you can do it. I see no necessity in tests to make code asynchronous, so therefore I would choose increased readability and simplicity over asynchrony, and make my tests blocking and synchronous.

And, is it real

[2015-06-23 12:26] jroper commented on #43
@retronym, the problem is that the `CompletionStage.toCompletableFuture` provided by this library throws `UnsupportedOperationException`.  The `await` methods from above are just examples of its use in my codebase.

[2015-06-23 12:57] viktorklang commented on #43
The timeout  should IMO always be present, even if it would use a finite, environment-appropriate, default if omitted. I see 0 reasons why you'd ever want an unbounded wait. Can you think of a situation where unbounded wait would be the only sensible value?

[2015-06-23 13:13] jroper commented on #43
Perhaps we should program like this:

[code]

Then I am ensuring that none of my operations are unbounded.  In answer to your question, it's not about no timeout, it's about where you timeout.  Timing out on every assertion is too fine grained, so I would do an unbounded timeout there, and do the timeout at a higher level, eg, on the build.

[2015-06-23 13:22] viktorklang commented on #43
I'd rather have a testcase time out and see which tests timed out than have the runner force-terminate the entire JVM. Especially for long-running test suites.

[2015-06-23 13:58] jroper commented on #43
Sure, then let's do that, most test frameworks support configuring the timeout of test cases at the test case level, that would be the right level to time out at, it can also be easily configured globally, and can easily be turned off, for when, for example, you're running the tests with a debugger and spending half an hour inspecting the state of a single test case is the debugger. Timing out at

[2015-06-23 14:08] viktorklang commented on #43
@jroper Sure, in my assertion example I'd only have a single invocation per test-case, and at the bottom of the test case, due to the lack of returning a CompletionStage. So that solves both of our concerns!

[2015-06-24 03:02] hepin1989 commented on #43
how about using a factor based on the current load via OperatingSystemMXBean?

[2015-07-14 02:54] jroper commented on #43
Ok, so this got a bit derailed on whether there should be timeouts.

The problem with:

[code]

is that it doesn't allow running assertions on the value itself, other than a blanket equals, which is very often not suitable.  We need to return the value so that assertions can be run on it.

Here's the thing, the horse has bolted on whether you should be able to block on futures in Java or not.  We

[2015-07-14 06:12] rkuhn commented on #43
@jroper +1

[2015-07-28 12:07] retronym commented on #32
Implemented by @Ichoran in #48

[2015-07-28 12:07] #32 closed

[2015-07-28 12:13] retronym commented on #29
My proposal in #49 (related to issue #43) would also fix this bug.

[2015-07-28 12:15] retronym commented on #15
@viktorklang Is this still relevant if we start to support `toCompletableFuture` as proposed in #49 ?

[2015-07-28 14:47] viktorklang commented on #15
No, I am still unsure what the actual behavior will be once we have 2 disparate completion venues (this Issue wants to remove one of the venues).

What's your thinking on how it ought to  work?

[2015-07-29 05:40] retronym commented on #15
I'm not 100% sure what problem we're trying to solve: I'd appreciate a test case to show what you mean by haywire.

Do you mean that a user might expect the following assertion to hold?

[code]

That was what I was trying to explore in https://github.com/retronym/scala-java8-compat/commit/98054150e505dd1796273da9f270b12c5965c4c8

[2015-07-29 07:49] viktorklang commented on #15
What happens when both the s.c.Future and the CompletableFuture gets completed, in different ordering?
What happens when `obtrudeValue` / `obtrudeException` is used?

[2015-07-29 07:57] retronym commented on #15
I think the semantics should be the same as if two places complete a completablefuture.

[2015-07-29 08:00] viktorklang commented on #15
@retronym But `obtrude` has different semantics?

[2015-07-29 08:07] retronym commented on #15
I would really appreciate some help to get this right. As I'm not an expert in this domain, but I do understand test cases, would you be able to contribute some (passing or failing)? Otherwise, please assume I know nothing and elaborate a little bit more with your review comments :)

[2015-07-29 08:17] viktorklang commented on #15
I won't be able to have a look at it until next week, if that's OK?

[2015-07-29 08:20] retronym commented on #15
No probs, this isn't urgent, I just wanted to get the ball rolling.

[2015-07-29 08:21] viktorklang commented on #15
Great, ping me on monday so we can see how to deal with this.

[2015-08-06 09:33] wir33658 opened #51 "Maven Version 0.5.0 seems not complete"
Check out http://search.maven.org/#artifactdetails%7Corg.scala-lang.modules%7Cscala-java8-compat_2.11%7C0.5.0%7Cbundle

and you will see there is no "scala.compat.java8.FunctionConverters"

(Checking the "build.sbt" it looks like this should have been generated, I guess its not and something went wrong)

[2015-08-13 05:48] retronym commented on #51
This will be part of [0.6.0](https://github.com/scala/scala-java8-compat/issues?utf8=%E2%9C%93&q=milestone%3A0.6.0+). I had the milestone incorrectly to an already-released 0.5.0 version of a few issues. I've just corrected that.

[2015-08-18 05:21] #43 closed

[2015-08-18 05:21] #29 closed

[2015-08-18 05:21] #51 closed

[2015-08-28 06:00] #44 closed

[2015-08-29 07:51] rkuhn opened #52 "version 0.6.0 is published with a dependency to unpublished "fngen" artifact"
The code generation strategy is not immediately obvious to me, but it looks like fngen is not actually a runtime dependency of the main artifact.

[2015-08-29 07:52] rkuhn opened #53 "this library should not pull in scala-compiler and scala-reflect as dependencies"

[2015-08-29 11:24] retronym commented on #53
After this change:

[code]

[2015-08-30 11:29] rkuhn commented on #53
thanks!

[2015-08-31 10:57] #53 closed

[2015-08-31 10:57] #52 closed

[2015-08-31 11:05] retronym commented on #53
I've just release 0.7.0 with fixes for the two issues you've reported.

[2015-08-31 11:31] rkuhn commented on #53
Great, updated!

[2015-09-20 20:54] pathikrit opened #55 "Consider incorporating the correct covariant suppliers/predicates?"
See @paulp's comment here: https://github.com/scala/slip/issues/19#issuecomment-141782414

gist: https://gist.github.com/paulp/846dbd5a67c6bed3c2e9

[2015-10-14 03:23] huntc opened #56 "Provide a Tuple type"
Consider providing a Java implementation of a Tuple - perhaps even just with an arity of 2 given my assertion that it is the most commonly used. I see that Java developers will be rolling their own tuple type, so we could help them avoid that while also facilitating our Scala <> Java translations.

Here's Play's version of Tuple:

[code]

[2015-10-15 00:30] Ichoran commented on #56
If you're going to pull in the entire Scala library anyway, why not use `scala.Tuple2`?  And if you're not, why would you be using scala-java8-compat?  The only advantage would be that in Java one could use `_1` and `_2` instead of `_1()` and `_2()`, with the drawback that extra conversion functions are needed any time the Java 8 Tuple2 interacts with Scala anything.

[2015-10-15 05:11] huntc commented on #56
Yes, I didn't think that through. Thanks.

[2015-10-15 05:11] #56 closed

[2015-11-05 11:07] ryantheleach commented on #15
@viktorklang It's well past monday, just figured you would want a ping anyway?

[2015-11-05 11:08] viktorklang commented on #15
LOL

Thanks @ryantheleach, I'll have a look at it when I can (swamped this week). :)

[2015-11-06 11:30] Maatary opened #57 "Strange cast to completableFuture in example issue"
Hi,

I would like to clarify something that sounds strange in the examples.

I'm a bit confused by the following statements when compared to some things done in the examples (see below, after the comments)

Note that the bridge is implemented at the read-only side of asynchronous
handles, namely scala.concurrent.Future instead of scala.concurrent.Promise
and CompletionStage instead of CompletableF

[2015-11-06 13:51] SethTisue commented on #57
I see this is under discussion at https://groups.google.com/d/msg/scala-user/lXMcOP7QpVc/g3EuV87DBwAJ

[2015-12-03 03:13] jasongoodwin commented on #29
Confirmed w/ example in the soon-to-be-published "Learning Akka" - Seems to be resolved in 0.6.0-SNAPSHOT. Just in time for it to go to print too :) thanks

[2015-12-04 09:30] rkuhn opened #58 "create a shared UNIT abstraction"
Akka Streams presents an interesting challenge in terms of creating an idiomatic API for both Scala and Java when it comes to a detail that is called “materialized values”. Every stream processing graph is associated with such a value computation and the value’s type is part of the graph’s type parameters:
[code]
`M` is the type of materialized value. Many graphs do not provide a materialized valu

[2015-12-04 09:45] viktorklang commented on #58
I'd suggest not having an ALL_CAPS typename and making the constructor of the abstract class package-private.

[2015-12-04 09:49] rkuhn commented on #58
Let’s leave implementation details aside for now (like constructor access) and concentrate on the place and name. We clearly cannot use `Unit` or `Void`, these are taken. Another constraint is that the type name should be rather short, the shorter the better. What about `N_A` for “not applicable”?

[2015-12-04 10:00] viktorklang commented on #58
It might sounds cheesy, but what about "OK"?

[2015-12-04 10:06] rkuhn commented on #58
Let’s wait for others to chime in (yes `OK` would work for me as well, but this issue is also about where to put the whole thing).

[2015-12-04 12:36] hepin1989 commented on #58
https://github.com/akka/akka/issues/18422

[2015-12-06 06:29] jasongoodwin commented on #29
0.6.0-SNAPSHOT I built and published locally. Confirmed the issue is fixed in my use cases.

[2015-12-20 22:43] jasongoodwin commented on #29
Hey, sorry to harass you around the holidays - are you able to publish 0.6.0 in the next couple weeks?

[2015-12-21 08:41] vsipuli opened #59 "Make Scala 2.10 release with serialization fix?"
Scala 2.10 was dropped in an earlier pull request before functional interfaces were made serializable in commit `4bb7192f394297c09edba08da56fdc181fd33c10`. Would it please be possible to make a last release (0.5.1 branch?) with Scala 2.10 support that includes the aforementioned serialization fix? (The last published artifacts with Scala 2.10 support: http://mvnrepository.com/artifact/org.scala-la

[2015-12-22 02:30] retronym commented on #29
@jasongoodwin 0.7.0 is the latest release, see the badge at the top of the README for a link:

![image](https://cloud.githubusercontent.com/assets/65551/11946587/3138d5f8-a8b0-11e5-8513-061890bacf7b.png)

[2015-12-22 02:50] retronym commented on #58
I think this is out of scope for this module, which is about bridging Java 8 with Scala.

[2015-12-22 23:40] jasongoodwin commented on #29
Sorry! I was looking at the 2.10 releases published in maven central.

[2016-01-15 11:11] drewhk opened #62 "Published scaladocs"
Maybe I missed it, but it would be great to have an on-line, published version of the scaladocs.

[2016-01-28 09:34] jypma opened #63 "Documentation for Future.toJava is stricter than implemented functionality"
It says [here](https://github.com/scala/scala-java8-compat/blob/master/src/main/scala/scala/compat/java8/FutureConverters.scala#L23) that the `CompletionStage` returned by `FutureConverters` doesn't support the `toCompletableFuture()` interface at all. However, it can be used fine to retrieve the value of a completed future, and/or wait for it. That functionality is currently used by e.g. akka.

T

[2016-01-28 10:47] jypma commented on #63
Actually, if the behaviour is indeed correct, it might even make sense to upgrade the return type to either `CompletableFuture` , or to a sub-interface of `CompletionStage` that happens to have the `CompletableFuture` methods that _are_ supported.

[2016-02-12 17:35] rkuhn commented on #58
This has been done in Akka now.

[2016-02-12 17:35] #58 closed

[2016-02-12 17:37] rkuhn opened #64 "publish for 2.12.0-M3 (and future versions of Scala)"
Akka now depends on this library to provide bridges for Future and Option, so we cannot release for Scala 2.12 milestones without this library being released first.

[2016-02-14 23:51] retronym commented on #64
https://oss.sonatype.org/service/local/repositories/releases/content/org/scala-lang/modules/scala-java8-compat_2.12.0-M3/0.7.0

Future releases will be cross built. We don't have a automated tool to publish when a new Scala milestone is added, but I'll try to remember to do so.

[2016-02-14 23:51] #64 closed

[2016-02-15 07:05] rkuhn commented on #64
Thanks a lot, Jason!

[2016-02-15 08:23] lrytz commented on #64
I once came up with a script that simplifies publishing releases from a local machine: https://github.com/scala/scala-partest/pull/37, but we're not sure what's the best place to put it.

[2016-02-16 20:33] SethTisue commented on #64
I added it to https://github.com/scala/make-release-notes/blob/2.12.x/projects-2.12.md

[2016-07-04 17:45] adriaanm opened #72 "publish against 2.12.0-M5"
Still publishing against M4, according to https://github.com/scala/scala-java8-compat/blob/master/build.sbt#L13

[2016-07-05 08:41] szeiger commented on #72
I was sure https://github.com/scala/scala-java8-compat/pull/71 had been merged. Let's try again with a new RC...

[2016-07-05 09:04] szeiger commented on #72
https://github.com/scala/scala-java8-compat/releases/tag/v0.8.0-RC3 published

[2016-07-05 09:04] #72 closed

[2016-08-13 09:29] schmitch opened #73 "JFunction not added to the JAR"
The actualy JAR won't contain the JFunction class.

At the moment this class is gone missing. It's neither on RC3 nor will it be included in the publishLocal jar.
But it will be generated. it just looks like the publish task won't add src_managed classes?

Edit:
[code]
needs to be set, however it should probably include a switch for < 2.12

[2016-08-18 19:14] schmitch commented on #73
actually I already made a PR: https://github.com/scala/scala-java8-compat/pull/74

[2016-08-30 08:15] adriaanm opened #77 "release 1.0.0 on 2.12.0"
- [X] fix 2.12 compat: https://github.com/scala/scala-java8-compat/pull/76
- [ ] bring back convenience that was lost with https://github.com/scala/scala/pull/5298 (we'll keep the classes in scala/scala as-is)

[2016-08-30 08:16] adriaanm commented on #77
@szeiger, could you take the lead on getting scala-java8-compat 1.0.0 out along with 2.12?

@retronym, please add your suggestions on how to proceed to my todo list above (my meeting notes were a bit sketch)

[2016-09-01 11:21] szeiger commented on #77
Moving JFunction and related classes back into scala-java8-compat: https://github.com/scala/scala-java8-compat/pull/78

[2016-09-01 18:43] schmitch commented on #77
It's also important to look into: #74 after #78. would be not cool to have 1.0.0 without `JFunction` at all.

[2016-09-02 17:03] #73 closed

[2016-09-09 14:50] #77 closed

[2016-09-11 15:22] schmitch opened #79 "Deployment of RC5 failed for Scala 2.11"
Actually the following directory is empty on Maven Central:
http://central.maven.org/maven2/org/scala-lang/modules/scala-java8-compat_2.11/0.8.0-RC5/

So actually some files are missing here. What's suspicious is that there is one file `scala-java8-compat_2.11-0.8.0-RC5.pom.asc`

[2016-09-11 21:20] SethTisue commented on #79
when we tried to promote https://oss.sonatype.org/content/repositories/orgscala-lang-1335/ . it's not clear why 1335 didn't work but 1336 (with the 2.12.0-RC1 artifact did); "i did the same thing for both" said @adriaanm. @szeiger hypothesized "Maybe it's still building? Travis is configured to build on 2.11.8, 2.12.0-M5 and 2.12.0-RC1... The build logs are here: https://travis-ci.org/scala/scala-

[2016-09-11 21:31] schmitch commented on #79
actually the error log is really strange since the signature was actually uploaded?

[2016-09-12 12:04] szeiger commented on #79
Yes, I agree. I've retagged as RC6: https://github.com/scala/scala-java8-compat/releases/tag/v0.8.0-RC6.  Build is running: https://travis-ci.org/scala/scala-java8-compat/builds/159293774

[2016-09-12 21:27] SethTisue commented on #79
I went on oss.sonatype.org and closed & released the staging repo (1338) that had the artifacts for 2.12.0-RC1, but there was just the one staging repo, not the three I expected. I don't see any clues in the Travis logs. :-(

[2016-09-12 21:31] schmitch commented on #79
Since local builds are working, can't you just copy the Builds from a local machine with the gpg key to oss.sonatype?

[2016-09-12 21:39] SethTisue commented on #79
I guess, but we publish a lot of different stuff using this same infrastructure, so we reallllly want it to work and not have to do manual steps all the time.

[2016-09-12 21:39] SethTisue commented on #79
hmm, perhaps the `admin/build.sh` in this repo is antiquated. it's an Achilles heel of this stuff that each repo has its own `admin/build.sh`

[2016-09-12 21:47] SethTisue commented on #79
ohhhhh, new theory! I went and looked in the old broken staging repo (1335) and it has RC6 artifacts in it! so I think we need to get rid of that repo entirely (we'd left it around in case there were more clues in there we hadn't seen yet), then try again. I will do that.

[2016-09-12 22:14] SethTisue commented on #79
ok, so two staging repos not three, but one of them has both the _2.11 and the _2.12.0-RC1 artifacts, so yay. closed, released. hopefully the artifacts will show up on central soon

[2016-09-12 22:29] SethTisue commented on #79
🎉

[2016-09-12 22:29] #79 closed

[2016-09-12 22:37] SethTisue commented on #79
also, TIL that e.g. https://repo1.maven.org/maven2/org/scala-lang/modules/scala-java8-compat_2.12.0-RC1/0.8.0-RC7/ can 404 even though https://repo1.maven.org/maven2/org/scala-lang/modules/scala-java8-compat_2.12.0-RC1/0.8.0-RC7/scala-java8-compat_2.12.0-RC1-0.8.0-RC7.jar can be retrieved, so never use directory listings to confirm whether something has made it to Maven Central yet

[2016-09-13 14:28] schmitch commented on #79
eh yeah I basically didn't did that. I actually added it to my project ;)
But the directory listing mostly works if you wait > 1 days. As you can see here: https://repo1.maven.org/maven2/org/scala-lang/modules/scala-java8-compat_2.12.0-RC1/0.8.0-RC7/
However everything is good now, finally I can try everything new out +1

[2016-09-21 14:41] gabro opened #80 "ScalaStreamSupport class seems to be missing"
Hi,
I included the library (version 0.7.0) in my Java project and when I try importing `ScalaStreamSupport`:

[code]

[code]

Am I missing something?

[2016-09-21 14:42] gabro commented on #80
If it can help, I'm able to use other features of the library, like `FutureConverters`

[2016-09-26 18:47] SethTisue commented on #80
try 0.8.0-RC7

[2016-10-03 09:12] gabro commented on #80
Thanks @SethTisue, that seems to be working

[2016-10-03 09:12] #80 closed

[2016-10-29 22:04] retronym opened #83 "Update to genjavadoc_2.12.0"

[2017-01-20 09:31] johanandren opened #85 "Add a converter for Duration"
For converting between `java.time.Duration` and `scala.concurrent.Duration`. Use case is to make it easier for Java devs using Akka to use the Java duration in their Java code without us having to provide parallell APIs everywhere there is a duration.

Any objections to such a PR?

(We'd need to backport to 0.7 to use it in Akka for binary comp. reasons)

[2017-01-21 00:11] Ichoran commented on #85
Sounds like a good idea to me.

[2017-04-06 11:22] nartamonov opened #87 "Weird error when working with StreamConverters"
Hi all! Following semantically correct code throws weird runtime error:

[code]

[2017-06-20 21:03] SethTisue commented on #59
Spark is on 2.11 these days

[2017-06-20 21:03] #59 closed

[2017-06-20 23:11] #83 closed

[2017-07-13 07:27] johanandren commented on #85
@SethTisue any chance of getting this in?

[2017-07-13 08:11] synox commented on #85
The PR https://github.com/scala/scala-java8-compat/pull/86 seems overly complicated.
Why not just? :
[code]

[2017-07-13 08:52] johanandren commented on #85
Was a while ago, as far as I recall it `j.t.Duration` expresses time as `long seconds` with an `int nanos` part, while `FiniteDuration` express time as a `long` value and a `unit`. Which means that the max value for a java duration does not fit in as a `long` nanoseconds, but does fit as a `long` with the unit `seconds`.

Likely not a problem if your code is mostly scheduling for example Akka even

[2017-07-13 09:24] synox commented on #85
Good Point. `j.t.Duration` could cover 292.5 billion years, while `j.t.Duration.toNanos()` overflows at [292.5 years](http://www.wolframalpha.com/input/?i=2%5E63-1+nanoseconds+in+years).

[2017-08-06 02:14] SethTisue opened #93 "publish for Scala 2.13.0-M2"
prerequisites:
* publish genjavadoc for 2.13.0-M2
* merge #92
* do the publishing; see remarks at https://github.com/scala/scala-async/issues/174 about how to go about this (I suggest burning a version number)

[2017-08-08 23:24] SethTisue commented on #93
genjavadoc PR & publish request: https://github.com/typesafehub/genjavadoc/pull/108

[2017-08-30 10:18] choedl opened #94 "Wrong function conversion documentation"
I think the documentation regarding function conversion is wrong (at least the java code example) and doesn't compile.

For example to convert a java function to a scala function (like in baz) I have to write the following:
`
import static scala.compat.java8.JFunction.*;
...
// instead of return bar(functionConverters.asScalaFromFunction(f)) -> where should functionConverters come from?;
return ba

[2017-12-11 21:47] SethTisue commented on #93
done a while back, forgot to close this

[2017-12-11 21:47] #93 closed

[2018-01-24 22:49] SethTisue opened #97 "compilation failures on tests in Scala 2.13 community build"
from https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/905/consoleFull :

[code]

[2018-01-25 02:31] retronym commented on #97
I can reproduce locally:

[code]

[2018-01-25 03:09] retronym commented on #97
I've partially minimized

[code]

[2018-01-25 04:10] retronym commented on #97
Standalone:

[code]

[2018-01-25 04:33] retronym commented on #97
Regressed in https://github.com/scala/scala/pull/6140

[2018-02-03 14:00] milessabin commented on #97
Hopefully fixed in https://github.com/scala/scala/pull/6308.

[2018-02-06 01:52] SethTisue opened #98 "publish for Scala 2.13.0-M3"
the compilation failures in #97 are in `src/test`, so we should still be able to publish once genjavadoc publishes once ScalaTest publishes

I'll take care of it as soon as the prerequisites are available

[2018-02-13 19:00] ktoso commented on #98
Is this something you'll take care of Seth or do we need help here?
Once this is out I can release ssl config and Akka

[2018-02-13 19:17] SethTisue commented on #98
I'll take care of it within the next day or two. I was blocked until yesterday

[2018-02-13 19:17] ktoso commented on #98
Roger that, sounds good

[2018-02-16 16:04] SethTisue commented on #98
tag: https://github.com/scala/scala-java8-compat/tree/v0.8.0%232.13.0-M3%238
publishing run: https://travis-ci.org/scala/scala-java8-compat/builds/342406969

oh but fail, because #97. I'll need to make a branch where I remove that test, then put the tag on that branch.

[2018-02-16 16:19] SethTisue commented on #98
easiest to just not run `test` from `admin.sh`: 591dec3cba2b7d7fd33e6bccbc24ec612afd637a

gah, the test still runs. okay: 6744b7fe12c865cbeb8d84d79609c436655d6cdc

publishing run: https://travis-ci.org/scala/scala-java8-compat/builds/342411851

closed and released the staging repo via the https://oss.sonatype.org web UI

fly, little artifacts! fly to Maven Central as fast as your little wings will

[2018-02-16 16:43] #98 closed

[2018-02-17 02:40] ktoso commented on #98
Nice, this unlocks akka-actor and others I think :) expect releases soon

[2018-02-22 03:53] NthPortal opened #99 "Overriding `Future.onSuccess` in `FutureConvertersImpl`"
`FutureConvertersImpl.P` overrides `onSuccess` [here](https://github.com/scala/scala-java8-compat/blob/35831f444ca3acb214c9a276867d3a1e06d1a940/src/main/scala/scala/concurrent/java8/FutureConvertersImpl.scala#L90) with a call to `super`. Is there an important reason for that, or can it be removed?

This comes up because `onSuccess` is deprecated, and may be removed in 2.13 (see scala/scala#6319).

[2018-02-22 03:57] NthPortal commented on #99
If it can be safely removed, #100 removes it.

[2018-03-05 02:24] #99 closed

[2018-05-03 09:07] SethTisue commented on #97
for version 0.9.0, I will drop 2.13.0-M3 from the cross-build.

once M4 is out (and genjavadoc has been published for it), we should re-add it.

[2018-05-05 11:00] SethTisue commented on #87
still reproducible. more compactly, it's `Vector.fill(120)("a").slice(0, 40).seqStream.collect(Collectors.toList())`

[2018-05-05 11:01] SethTisue commented on #87
looks like a subtle bug in `StepsVector`

[2018-05-15 13:54] SethTisue commented on #87
Rex says scold him if he doesn't get to it this week.

[2018-06-08 04:11] SethTisue commented on #87
ping @Ichoran

[2018-06-08 15:29] skitt opened #107 "Incorrect OSGi manifest"
The JAR for version 0.8.0 had a fully-populated manifest, generated by BND; but 0.9.0 doesn’t, nor does the JAR produced by building HEAD manually. I haven’t figured out *why* that is yet...

[2018-06-16 16:42] SethTisue opened #110 "post-M4 compilation failures on 2.13.x branch"
@lrytz I'm seeing:

[code]

seen in the Scala 2.13 community build but reproducible outside it with `++2.13.0-pre-1a172fd`

[2018-06-16 18:47] lrytz commented on #110
will take a look

[2018-06-18 02:43] xuwei-k commented on #110
https://github.com/scala/scala-java8-compat/pull/112

[2018-06-21 13:47] lrytz opened #113 "Integrate new 2.13 collection types"
Provide (optimized) stream converters (if necessary?) for new collections in 2.13
  - ChampHashSet / ChampHashMap (they will probably be renamed to HashMap / HashSet)
  - mutable / immutable ArraySeq
  - ArrayDeque

[2018-06-26 03:10] SethTisue commented on #87
Rex, you are SCOLDED

[2018-06-27 07:11] Ichoran commented on #87
@SethTisue - Thanks!  Unfortunately I'm at a conference all week and will forget it ever happened before I get back home.  You will probably have to scold me again next week!

[2018-06-27 13:47] SethTisue commented on #87
I'm good at scolding.

[2018-07-11 23:30] SethTisue commented on #87
@Ichoran scold scold scold

[2018-07-16 22:12] Ichoran commented on #87
Didn't quite get finished.  I'll wrap it up tonight if I get any more time.

[2018-07-17 23:30] Ichoran commented on #87
I won't get time to finish until Wednesday night.

[2018-07-19 04:02] Ichoran commented on #87
Argh, place I intended to work closed an hour early.  I think I'm very close.

[2018-07-24 14:41] SethTisue opened #116 "FutureConverters `toJava` and `toScala` should be `asJava` and `asScala` if they only wrap"
we normally use `as` for wrappers and `to` for things that convert by copying

(FutureConverters and perhaps elsewhere, audit needed)

[2018-07-26 18:58] SethTisue commented on #110
[code]

[2018-07-26 18:58] #110 closed

[2018-07-28 22:19] Ichoran commented on #87
@SethTisue - https://github.com/scala/scala-java8-compat/pull/117 (I forgot the magic words that would link it automatically to the issue.)

[2018-08-30 17:54] SethTisue opened #119 "publish for Scala 2.13.0-M5"
there is a 2.13.x branch we're using in the community build, but some of those changes were done hastily in order to get the community build green, it needs to be re-checked for publishability

[2018-09-06 13:27] jlprat opened #120 "Improve support for failed `CompletionStage`s"
Currently when a `CompletionStage` fails with a `RuntimeException` this is wrapped in a `CompletionException`.
When converting `CompletionStage` to a Scala `Future` this is not unwrapped thus making it cumbersome recover from it (with an extra recover step that throws the original wrapped exception for example).

[2018-09-18 13:09] johanandren commented on #119
@SethTisue is there something I can do to help move forward with this?

[2018-09-18 20:48] SethTisue commented on #119
@johanandren genjavadoc was blocked by ScalaCheck+ScalaTest, but not anymore. I will publish scala-java8-compat as soon as genjavadoc is published

[2018-09-19 02:37] SethTisue commented on #119
(note to self: if I run into trouble, check if it's https://github.com/scala/scala-java8-compat/issues/97. also review whether we still need a separate 2.13.x branch)

[2018-09-20 23:05] SethTisue commented on #119
it's fine, I think. #113 remains open on this and should be revisited for 2.13.0 final

[2018-09-20 23:07] SethTisue commented on #97
the issue seems to be fixed in M5.

as for the cross-build, for now we're on a separate 2.13.x branch, #113 is about eventually merging that branch

[2018-09-20 23:07] #97 closed

[2018-09-21 02:45] #119 closed

[2018-09-21 02:47] SethTisue commented on #119
scala/make-release-notes@c8aa9f8a050391a450792129a4fd5479096bf334

[2019-02-08 21:43] SethTisue opened #128 "relicense under Apache 2"
following the lead of [scala/scala-xml#242](https://github.com/scala/scala-xml/pull/242), [scala/scala-swing#91](https://github.com/scala/scala-swing/pull/91), and others

[2019-02-15 20:58] SethTisue commented on #62
perhaps a volunteer would like to tackle this, based on the way shown by @ashawley at https://github.com/scala/scala-xml/issues/225

[2019-02-15 20:59] SethTisue commented on #116
volunteer to add the new names and deprecate the old names?

[2019-02-15 21:48] SethTisue opened #130 "add openjdk11 to CI matrix"
previous efforts on this ran into trouble; see https://github.com/scala/scala-java8-compat/pull/114

[2019-02-16 16:06] #128 closed

[2019-02-20 00:26] #87 closed

[2019-03-06 22:57] #130 closed

[2019-04-12 08:41] SethTisue commented on #113
@lrytz should this be closed?

[2019-04-12 09:39] lrytz commented on #113
Yep, at least here :-)

[2019-04-12 09:39] #113 closed

[2019-04-17 18:57] Rorick commented on #94
Worked for me this way:
[code]

[2019-05-14 18:34] lrytz opened #144 "StreamConverters.toScala on 2.13 uses value param instead of type param"
This prevents cross-building projects using java8-compat on 2.12 and 2.13, which is the only reason for having a 2.13 release. The `toScala` method should have the same API.

[2019-05-16 13:09] lrytz commented on #116
Argh, missed this while migrating the converters to 2.13 std lib. I'll fix it in RC3 if there's one.

[2019-05-20 07:29] raboof opened #145 "Publish for 2.13.0-RC2"
See also #139

[2019-05-20 07:40] lrytz commented on #145
I'll take a look today. I'd like to fix https://github.com/scala/scala-java8-compat/issues/144 for the RC2 release though. Not sure if I need to change the version number, or using 0.9.0 again would be ok :)

[2019-05-20 08:04] raboof commented on #145
:+1: - pushed my wip as #146 - haven't checked it really makes sense though, I just "followed the types"

[2019-05-20 09:51] lrytz commented on #145
We'll need genjavadoc as well

[2019-05-20 09:51] raboof commented on #145
https://github.com/lightbend/genjavadoc/pull/173

[2019-05-20 13:03] #144 closed

[2019-05-20 14:32] lrytz commented on #145
The release is on staging https://oss.sonatype.org/content/repositories/staging/org/scala-lang/modules/scala-java8-compat_2.13.0-RC2, I released the staging repo, and it's no longer in the list on nexus. but didn't show up on central yet (http://repo1.maven.org/maven2/org/scala-lang/modules/scala-java8-compat_2.13.0-RC2).

[2019-05-20 19:33] lrytz commented on #145
ah, the missing trailing slash was the problem.. http://repo1.maven.org/maven2/org/scala-lang/modules/scala-java8-compat_2.13.0-RC2/

[2019-05-20 19:33] #145 closed

[2019-05-29 21:28] SethTisue opened #149 "publish for Scala 2.13.0-RC3"
previously: #145

PR is #148

* [x] https://github.com/lightbend/genjavadoc/issues/175

[2019-05-30 08:59] SethTisue commented on #149
* genjavadoc published
* PR merged
* commit: b67bbe3e4090a32783929810ae7eff9a8e28cb1a
* tag: https://github.com/scala/scala-java8-compat/releases/tag/v0.9.0%232.13.0-RC3
* job: https://travis-ci.org/scala/scala-java8-compat/builds/539125204

[2019-05-30 09:09] SethTisue commented on #149
staging repos closed, released.

now we keep an eye out at https://repo1.maven.org/maven2/org/scala-lang/modules/scala-java8-compat_2.13.0-RC3/0.9.0/

[2019-05-30 09:30] #149 closed

[2019-05-30 09:31] SethTisue commented on #149
scala/make-release-notes@408ea2d273c0203db4ac50442aa49ff8ab8c22f3

[2019-06-10 04:10] TisonKun opened #151 "Automatic upcast in FutureConverters"
https://github.com/scala/scala-java8-compat/blob/62d4f80cc18d47aa32a08c8711d67565cf00d743/src/main/scala/scala/compat/java8/FutureConverters.scala#L66

[code]

[2019-06-24 19:46] Glamdring opened #153 "Make FromJavaFunction and the likes serializable"
In cases like Spark, functions need to be serialized. So the FromJavaFunction and the likes should have a default constructor and be serializable.

[2019-07-04 18:07] SethTisue opened #155 "merge 2.13.x branch onto master?"
@lrytz should these stay separate branches, or should we do it on a single branch with version-specific sources?

[2019-07-05 07:05] lrytz commented on #155
I haven't thought about that yet, I think version-specific sources works well here. Will take a look.

[2019-07-18 20:19] #155 closed

[2019-07-18 20:20] SethTisue commented on #62
there has been some discussion at https://github.com/scala/scala-parallel-collections/issues/27 on whether it would be fine to just rely on javadoc.io for this

[2019-07-18 20:24] SethTisue commented on #57
tentatively closing, since it hasn't been made clear that there is an actionable issue here

[2019-07-18 20:24] #57 closed

[2019-07-18 20:26] SethTisue commented on #116
@lrytz did this end up being addressed?

[2019-07-19 07:13] lrytz commented on #116
From @NthPortal with ❤️ https://github.com/scala/scala/pull/8094

[2019-07-19 07:13] #116 closed

[2019-08-05 08:56] rovarga commented on #107
It does look like the OSGi bits are not being propagated through scala-module-plugin, but I have zero clue as to why.

[2019-08-05 13:28] rovarga commented on #107
This is blocking OpenDaylight's adoption of Scala 2.13.0 (https://jira.opendaylight.org/browse/ODLPARENT-204), as there is only 0.9.0 for 2.13.0. Would it be possible to spin v0.8.0 for 2.13.0?

[2019-08-05 14:47] SethTisue commented on #107
Not possible, because the changes, made in association with the 2.13 collections changes, were thoroughgoing.

Is scala-java8-compat the only affected module, or are the 2.13 versions of all of the modules all affected? That would narrow down whether we need to fix something in sbt-scala-module, or whether it's just this repo that needs a fix.

[2019-08-05 15:00] rovarga commented on #107
I quickly checked scala-async, it is affected, too. Looking at its versions, _2.12-0.9.7 is affected (no OSGi headers), _2.12-0.9.6 is okay. Looking at the diff between those versions it switched from sbt-osgi-0.6.0 to scala-module-plugin-1.0.8, so yeah, this is smells like sbt-scala-module.

[2019-08-05 15:24] rovarga commented on #107
A few more datapoints:

- scala-swing_2.12 2.0.1 is fine, 2.0.2 (and later) is not -- there is a switch from scala-module-plugin-1.0.8 to sbt-scala-module-1.0.13
- scala-xml_2.12 1.2.0 is fine but its using .jvmSettings() to set OsgiKeys.

I am not sure what to make of this (not a Scala/SBT person, unfortuantely)

[2019-08-05 22:27] SethTisue commented on #107
@szeiger you have the misfortune of having done OSGi things, any idea what's going wrong here?

[2019-08-06 03:17] SethTisue commented on #107
perhaps there are clues, or even a solution, in https://github.com/scala/scala-collection-compat/pull/226 ?

[2019-08-06 08:22] szeiger commented on #107
This looks like the most likely issue: https://github.com/scala/sbt-scala-module/commit/74b093e5bb38f12d972ca46a92917286bb8f43b7#diff-fdc3abdfd754eeb24090dbd90aeec2ceL29

[2019-08-21 00:27] SethTisue commented on #107
volunteer to PR the fix?

[2019-08-21 03:38] #151 closed

[2019-09-17 19:55] lrytz opened #160 "genjavadoc issue with StreamShapeLowPriority"
Recent travis build: https://travis-ci.org/scala/scala-java8-compat/builds/582046003

The 2.12.8 and 2.11.12 versions show:

[code]

The generated file: https://gist.github.com/lrytz/899f08e00d48ca14a4943bcfe834e38e

[2019-11-13 20:11] schrepfler opened #168 "Add Automatic-Module-Name to MANIFEST.INF"
In order to increase compatibility on JDK versions with modules consider adding Automatic-Module-Name in the MANIFEST.INF along the lines of akka/akka#23960 or perhaps even implement properly the module-info descriptor.

[2019-11-13 20:30] SethTisue commented on #168
best handled at https://github.com/scala/sbt-scala-module/issues/71

[2019-11-13 20:30] #168 closed

[2019-11-21 13:53] mresposito opened #169 "Future.recover does not catch exceptions that are thrown inside a CompletableFuture"
I've been using the aws dynamodb async sdk, but I find that I cannot catch exceptions after I convert a `CompletableFuture` to Scala.
When I run
[code]
I can successfully catch the exception.

However when I run
[code]
I cannot actually catch the exception. Any clues on why?

[2020-02-17 09:49] fgschwan commented on #107
@SethTisue Hi, i ran build.sh on master from 12.2.2020 and the OSGi manifest seems to be generated in the locally produced jar file. I used clean new VM to check it (ubuntu 18.04.4 LTS, openjdk 1.8.0_242, scala 2.13.1, sbt 1.3.8)

[2020-02-18 03:40] SethTisue commented on #107
I ran `scalaJava8Compat/publishLocal` on master and then inspected the resulting `~/.ivy2/local/org.scala-lang.modules/scala-java8-compat_2.13/0.9.0+83-75c255dd-SNAPSHOT/bundles/scala-java8-compat_2.13.jar` and also compared it to the `org/scala-lang/modules/scala-java8-compat_2.12/0.8.0/scala-java8-compat_2.12-0.8.0.jar` in my Coursier cache and indeed, all seems well 🤷‍♂️

thanks @fgschwan

[2020-02-18 03:45] SethTisue commented on #107
but then, hmm, also I don't see anything wrong with the 0.9.0 JAR

@skitt @rovarga can you be _extremely detailed and specific_ about what is wrong with the 0.9.0 JARs, in your view?

[2020-02-18 10:46] skitt commented on #107
`scala-java8-compat_2.12-0.8.0.jar` has a correctly-populated `META-INF/MANIFEST.MF` (from the OSGi perspective), notably with the relevant `Export-Package` and `Import-Package` entries. `scala-java8-compat_2.13-0.9.0.jar` doesn’t.

[2020-02-18 15:22] SethTisue commented on #107
Thanks, I'll take a second look

[2020-02-18 15:26] rovarga commented on #107
@SethTisue  maybe it was some transient issue with upstream plugins (or whatever) at the time when 0.9.0 was built -- perhaps all that's needed is to release current state of the branch as 0.9.1 and all will be fine :)

[2020-02-18 22:39] SethTisue commented on #107
let's roll 0.9.1-RC1 and see. if it looks good, we'll roll 0.9.1.

* tag: https://github.com/scala/scala-java8-compat/releases/tag/v0.9.1-RC1
* release job: https://travis-ci.org/scala/scala-java8-compat/builds/652212729
* in the Sonatype web UI, I hit "Release" on the 3 staging repos

0.9.1-RC1 artifacts should be on Maven Central soon (unless something goes wrong over at their end, which seems t

[2020-02-19 08:21] rovarga commented on #107
@SethTisue from a brief look both 2.12 and 2.13 artifacts look okay. Smoke test to use 2.12-0.9.1-RC1 passed here: https://jenkins.opendaylight.org/releng/job/odlparent-maven-verify-master-mvn35-openjdk11/281/ , so I think we're good.

[2020-02-19 22:08] SethTisue commented on #107
* tag: https://github.com/scala/scala-java8-compat/releases/tag/v0.9.1
* release job: https://travis-ci.org/scala/scala-java8-compat/builds/652712925
* in the Sonatype web UI, I hit "Release" on the 3 staging repos

an OSGi problem fixed itself?! perhaps there is a God after all

[2020-02-20 01:21] SethTisue commented on #107
* https://repo1.maven.org/maven2/org/scala-lang/modules/scala-java8-compat_2.11/0.9.1/
* https://repo1.maven.org/maven2/org/scala-lang/modules/scala-java8-compat_2.12/0.9.1/
* https://repo1.maven.org/maven2/org/scala-lang/modules/scala-java8-compat_2.13/0.9.1/

[2020-02-20 01:21] #107 closed

[2020-02-20 14:15] SethTisue commented on #107
https://github.com/scala/scala-java8-compat/releases/tag/v0.9.1 has release notes now.

[2020-02-26 00:59] syzboy opened #179 "Execution context being lost after using FutureConverters"
https://github.com/scala/scala-java8-compat/blob/05be2b2c0e56bdda0ca0519ff5ff7e7d0f2a17be/src/main/scala/scala/concurrent/java8/FutureConvertersImpl.scala#L35

After converting a scala future to a java future, the synchronous functions are implemented by calling async ones.
And it's not using the ones that are taking the extra executor parameter. https://docs.oracle.com/javase/8/docs/api/java/util

[2020-04-04 11:07] rdesgroppes commented on #94
Some more options:
1. `JFunction1`
[code]
2. `FromJavaFunction`
[code]

[2020-04-30 17:36] SethTisue commented on #62
https://javadoc.io/doc/org.scala-lang.modules/scala-java8-compat_2.13/latest/index.html

[2020-04-30 17:40] SethTisue commented on #62
Oh, I was hasty about closing this. For this library, there is both Scaladoc and Javadoc. javadoc.io is showing the Javadoc, but not the Scaladoc :-/

[2020-09-29 20:20] payurgin commented on #179
I have the same issue with async caffeine cache  (writen in java) used with scala-java8-compat.
[code]

[2020-11-19 01:08] SethTisue opened #200 "Add Scala 3 crossbuild"
volunteer?

it probably works with `withDottyCompat`, but it's better to have a "real" Scala 3 artifact

[2020-12-28 15:21] saeltz commented on #200
I can confirm that projects do compile with `withDottyCompat`.

[2021-03-04 19:17] SethTisue opened #210 "Build should declare a `versionScheme`"
as per https://scala-lang.org/blog/2021/02/16/preventing-version-conflicts-with-versionscheme.html and discussion at scala/sbt-scala-module#111

[2021-03-04 19:42] SethTisue commented on #210
I'll tackle this after scala/scala-parallel-collections#164 is resolved

[2021-03-09 19:18] SethTisue opened #213 "Release version 1.0?"
We've been in 0.9 releases for a long, long time now. We're adding MiMa in #211. I think it would be reasonable at this point to say, hey, this is 1.0 now. (We could do an RC first.)

[2021-03-10 18:16] SethTisue commented on #210
PR: #211

[2021-03-13 20:24] #210 closed

[2021-03-16 18:11] SethTisue commented on #213
I guess I'll do this when Scala 3.0.0-RC2 comes out, since I'll need to be doing publishing then anyway.

[2021-03-25 22:40] SethTisue commented on #200
PR (WIP for now): #215

[2021-03-26 00:36] SethTisue commented on #200
#215 is ready for review

[2021-03-29 18:04] #200 closed

[2021-03-29 18:04] SethTisue commented on #213
Scala 3.0.0-RC2 is out. I will roll scala-java8-compat 1.0.0-RC1 today.

[2021-03-29 19:18] SethTisue opened #217 "Publish version 1.0.0-RC1"
motivations: publish for Scala 3.0.0-RC2, bite the bullet and get to 1.0 (as per #213)

* [x] merge PRs
* [x] choose version number
  * 1.0.0-RC1, as per #213
* [x] create the release and write the notes
  * https://github.com/scala/scala-java8-compat/releases/tag/v1.0.0-RC1
* [x] wait for release build
  * https://travis-ci.com/github/scala/scala-java8-compat/builds/221552102
* [x] release the st

[2021-03-29 20:34] #217 closed

[2021-03-29 22:47] SethTisue commented on #213
1.0.0-RC1 is published

[2021-04-02 00:22] smarter commented on #213
By the way, shouldn't this library be deprecated since most (all?) of its converters were merged into the 2.13 standard library (https://github.com/scala/scala/pull/7458) ?

[2021-04-02 01:08] SethTisue commented on #213
uh, good question. I don't think absolutely everything was moved, and stuff being in 2.13 doesn't help people crossbuilding to 2.11 and 2.12.

at minimum, the README should be clear about what the situation is, for sure

perhaps we could have a 1.x series that keeps everything, and 2.x series that is 2.13+ only — if there are any converters that weren't ported, that is. if everything was ported, t

[2021-04-07 11:16] lrytz commented on #213
I think we moved everything, the only reason to keep this for 2.13 was cross-building with older Scala versions.

IIRC, we kept the converters in the 2.13 version of this module because it was the easiest way forward. The actual colleciton types are aliased: https://github.com/scala/scala-java8-compat/blob/main/src/main/scala-2.13+/scala/compat/java8/collectionImpl/package.scala

So "you don't nee

[2021-04-07 14:04] SethTisue commented on #213
thanks — I'll update the readme appropriately at the time I do the 1.0 release

[2021-04-19 18:23] SethTisue opened #221 "Publish for Scala 3.0.0-RC3"
* [x] merge PRs
  * https://github.com/scala/scala-java8-compat/pull/220
  * https://github.com/scala/scala-java8-compat/pull/222
* [x] choose version number
  * let's backpublish 1.0.0-RC1, there are no real changes
* [x] tag the release
  * https://github.com/scala/scala-java8-compat/releases/tag/v1.0.0-RC1%233.0.0-RC3
* [x] wait for release build
  * https://travis-ci.com/github/scala/scala-jav

[2021-04-19 23:53] #221 closed

[2021-04-20 00:08] SethTisue commented on #213
I have backpublished 1.0.0-RC1 for Scala 3.0.0-RC3. (Without doing anything else, yet.)

[2021-05-13 18:16] SethTisue opened #228 "Publish 1.0.0"
motivations: publish for Scala 3.0.0

* [x] merge outstanding PRs
* [x] update crossbuild
  * https://github.com/scala/scala-java8-compat/pull/229
* [x] choose version number
  * 1.0.0
* [x] create the release and write the notes
  * https://github.com/scala/scala-java8-compat/releases/tag/v1.0.0
* [x] wait for release build
  * https://travis-ci.com/github/scala/scala-java8-compat/builds/22588182

[2021-05-13 18:16] SethTisue commented on #213
only publishing remains: #228

[2021-05-13 18:16] #213 closed

[2021-05-13 23:48] #228 closed

[2021-09-29 00:11] SethTisue opened #245 "Release version 1.0.1"
The immediate motivation is to make sure that (now that #242 has landed) we have publishing set up correctly on GitHub Actions

But there is also at least one user-visible change, which is that thanks to the sbt-scala-module upgrade we now declare a semantic versioning policy

this time only:

* [ ] add secrets to GitHub settings, as per sbt-ci-release readme instructions

usual release steps:

*

[2021-09-29 00:38] SethTisue commented on #245
the first release build failed, looks like it's trying to run genjavadoc with Scala 3, doh

[2021-10-03 12:58] ohze opened #247 "Binary incompatible problem betwen published versinon 1.0.0, 1.0.1 and snapshot"
The published version 1.0.0 and 1.0.1 (on maven central) is incompatible with **both** version 0.9.1 and the snapshot version build from current `main` branch (commit 6074480)

### Verify:
#### 1. Add to `build.sbt`
[code]
#### 2. Add file `tmp/src/main/scala/Main.scala`
[code]
#### 3. In sbt:
[code]
### Analyse

`tmp/runMe` fail with
[code]
and success with
[code]
So snapshot code in `main` branc

[2021-10-03 13:13] ohze commented on #247
Output of `javap -v -c Priority1FunctionConverters.class`:
+ for `target/scala-2.13/classes/scala/compat/java8/Priority1FunctionConverters.class`
  `enrichAsJavaIntFunction` has **2 params**
[code]
+ for `1.0.1/scala/compat/java8/Priority1FunctionConverters.class`
  (extract from `scala-java8-compat_2.13-1.0.1.jar` from maven central)
`enrichAsJavaIntFunction` has **ONLY 1 param**
[code]

[2021-10-03 15:56] ohze commented on #247
Hmm. I tried to run `Release` CI job in my fork and in the generated FunctionConverters.scala, [method `enrichAsJavaIntFunction` have 1 param](https://github.com/ohze/scala-java8-compat/runs/3782823530?check_suite_focus=true#step:4:5436):
[code]

But running in local machine, the result is different:
[code]
[code]

[2021-10-03 18:07] ohze commented on #247
Haha
I [change `release.yml` CI file](https://github.com/ohze/scala-java8-compat/commit/b5468cbbc09f9e73a715a9a0fca071003d4edc15):
from `sbt ci-release`
to `sbt +sources` then `grep enrichAsJavaIntFunction target/scala-*/src_managed/main/FunctionConverters.scala`
[grep output](https://github.com/ohze/scala-java8-compat/runs/3783530708?check_suite_focus=true#step:5:1):
[code]

And with just a [shou

[2021-10-28 01:43] SethTisue opened #252 "Release version 1.0.2"
The motivation is to ship @ohze's bincompat fix (#248).

* [x] merge PRs
* [x] choose version number
  * v1.0.2
* [x] tag the release
  * https://github.com/scala/scala-java8-compat/releases/tag/v1.0.2
* [x] wait for release build
  * https://github.com/scala/scala-java8-compat/actions/runs/1392719895
* [x] artifacts on Maven Central
  * https://repo1.maven.org/maven2/org/scala-lang/modules/scala-

[2021-10-28 02:04] #252 closed, assigned to SethTisue

[2021-11-05 14:34] rdesgroppes commented on #179
Same here.

[2021-11-05 14:45] lrytz commented on #179
Did any of you look at this in detail? Would it be an easy fix without unintended consequences?

[2021-11-05 14:59] rdesgroppes commented on #179
@lrytz I guess the fix would consist in taking an `Executor` at conversion time and propagate it down do each *async* call.
That said, backwards compatibility concerns would lead to either making it optional, defaulting to the current behavior, or introduce a parallel code path. Hum.

[2022-06-06 15:24] baltiyskiy commented on #179
One unfortunate feature of ForkJoinPool.commonPool() is that by default, if a Java process observes < 3 CPUs (e.g. if CPU requests in Kubernetes are set this way), then it will use a `ThreadPerTaskExecutor` for the common pool. This might lead to creating a lot of threads! All of this completely unexpected, because the application code _doesn't_ specifically invoke `...async` methods on `Completio

[2022-07-14 18:54] SethTisue commented on #160
This is still broken. In #267, I'm making it so CI catches the problem (by calling `publishLocal`)